html,body{ 
	width: 100%;
	height: 100%;
	background: #4880db;
  padding: 0;
  margin: 0;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#all{
  position: relative;
  z-index: 2;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #7ea7ea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}

*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing:border-box;
  color:#eae027;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@font-face{
  font-family:Days;
  src:url("Days.otf");
}


body{
  width:100%;
  height:100%;
  color:#00c934;
  font-family:"Times New Roman";
  line-height: 135%;  
}

a{
  text-decoration:none;
  transition:all.8s ease;
}
a:hover{
  color:lime;
}
.inner-header{
  height:100px;
  border-bottom:8px ridge #3064ba;
  background:rgba(0,0,0,0.7);
  border-radius:0 0 250px 250px;
}

.logo{
  font-size: 13px;
  color: #00c934;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  float:left;
  width:100%; 
  Font-family:"Days";
  
}


.sidebar_left{
  padding-right:10px;
  float:left;
  width:10%;
  
}
.inner-sidebar_left{
  min-height:1000px;
  background:#124D24;
  opacity:0;
  
}

.sidebar_right{
  width:10%;
  float:left;
  padding-left:10px;
}
.inner-sidebar_right{
  background:#124D24;
  min-height:1000px;
  opacity:0;
  
}

.content{
  width:80%;
  float:left;
  padding:2%;
  font-size: 18px;
}

.inner-content{
  border:8px ridge #3064ba;
  border-radius:40px;
  min-height:1000px;
  background: rgba(0,0,0,0.7);
}
.inner-footer{
  border-top:8px ridge #3064ba; 
  border-radius:250px 250px 0 0;
  height:100px;
  background:rgba(0,0,0,0.7);
}

#corect{
  margin-left:50px;
}
.result{
  border: 3px ridge rgb(151, 244, 237, 0.8);
  width:150px;
  padding:3px;
  border-radius:250px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: rgba(0,0,0,0.7);
}
#info{
  margin-top:30px;
  margin-bottom:30px;
  margin-left:80px;
  margin-right:80px;
  Font-family:"Days";
}
#day1{
  border:5px ridge rgb(151, 244, 237, 0.8);
  border-radius:10px 0px 0px 10px;
}
#day2{
  border:5px ridge rgb(151, 244, 237, 0.8);
  border-radius:10px 0px 0px 10px;
}
#year1{
  border:5px ridge rgb(151, 244, 237, 0.8);
  border-radius:0px 10px 10px 0px;
}
#year2{
  border:5px ridge rgb(151, 244, 237, 0.8);
  border-radius:0px 10px 10px 0px;
}
select{
  border:5px ridge rgb(151, 244, 237, 0.8);
  font-size: 14px;
  background:rgba(0,0,0,0.7);
}
input{
  font-size: 15px;
  padding-left:3px;
  background:rgba(0,0,0,0.7);
}
.opt{
  background:#000;
  color:#eae027;
  border:1px solid #eae027;
}
.probel{
  margin-bottom:10px;
  
}

.inputs{
  border:5px ridge rgb(151, 244, 237, 0.8);
  border-radius:10px;
}

.message {
 height:0.5px;
 width:0.5px;
 color:#eae027;
 padding:10px;
 margin:10px;
 cursor:pointer;
 border:1px solid #000;
 border-radius:300px;
 background: url(инфо.png) no-repeat center top / cover;
 position:relative;
 left:121px;
 top:38px;
 margin:0;
}
.message-frame{
 z-index:9999;
 position:fixed;
 margin-left:50%;
 top:100px;
 text-align:center;
 display:none;
 padding:5px;
 background-color:#000;
 color:#eae027;
 border: 1px solid #eae027;
 font-size: 20px;
 Font-family:"Days";
}
.dots {
 overflow:auto;
 padding:10px;
 color:#eae027;
 border-top:1px solid #eae027;
 margin-top:10px;
}
.answer {
 color:#CB2025;
 cursor:pointer;
 font-weight:400;
 font-size:20px;
 border:1px solid #eae027;
}
#message-box {
 display: none;
 background-color:#000;
 opacity:0.7;
 width:100%;
 height:100%;
 z-index:9998;
 position:fixed;
 top:0;
 bottom:0;
 right:0;
 left:0;
}
